// Odds Table
.bs-odds-wrapper
{
  width: 100%;

  // Filter Form
  .bs-odds-filter-wrapper
  {
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    padding: 20px;

    .bs-odds-filter-form
    {
      .bs-odds-filter-control
      {
        display: inline-grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 0.5rem;
        margin-bottom: 20px;

        label
        {
          margin: 0;
        }

        select
        {
          min-height: 66px;
        }
      }
    }
  }

  // Table
  .bs-odds-table-wrapper
  {
    background: #fff;
    text-align: center;
    padding: 15px 0 0;

    > ul
    {
      margin: 0;
      padding: 0;
      color: #000;
      grid-auto-rows: 1fr;

      > li
      {
        list-style: none;
        border-bottom: 1px solid #dddddd;
        padding: 10px 20px;
        display: inline-grid;
        grid-template-columns: 1fr 3fr;
        width: 100%;

        &:last-child
        {
          border-bottom: none;
        }

        .bs-odds-teams
        {
          .bs-odds-teams-home, .bs-odds-teams-away
          {
            font-size: 16px;
            font-weight: 700;

            img
            {
              width: 14px;
              height: 14px;
              margin-right: 4px;
            }
          }

          .bs-odds-teams-vs, .bs-odds-commence-time
          {
            font-size: 13px;
            color: #999;
          }
        }

        .bs-odds-bookmarkers
        {
          overflow: hidden;

          > ul
          {
            margin: 0;
            padding: 0;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            box-shadow: inset 0 0 10px #eee;
            text-align: left;

            > li
            {
              display: inline-block;
              list-style: none;
              padding: 5px 15px;
              text-align: center;

              .bs-odds-bookmarker-title
              {
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 20px;
              }

              &:nth-child(odd)
              {
                background: #eeeeee;
              }

              .bs-odds-outcomes
              {
                margin: 0;
                padding: 0;

                li
                {
                  list-style: none;
                  display: inline-block;
                  padding: 0 5px;
                  box-shadow: none;

                  .bs-odds-outcomes-number
                  {
                    font-size: 12px;
                    color: #999;
                    font-weight: bold;
                  }

                  .bs-odds-outcomes-price
                  {
                    font-size: 12px;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Loading
.bs-loading
{
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  div
  {
    position: absolute;
    border: 4px solid #333333;
    opacity: 1;
    border-radius: 50%;
    animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  div:nth-child(2)
  {
    animation-delay: -0.5s;
  }

  @keyframes ripple
  {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0;
      left: 0;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}

// Alerts
.bs-alert
{
  display: block;
  padding: 10px 15px;
  margin: 10px 0;
  color: #333;
  font-size: 16px;
  line-height: 23px;

  &:empty
  {
    padding: 0;
    border: 0 !important;
    background-color: transparent !important;
  }

  &.bs-error
  {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }

  &.bs-warning
  {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
  }

  &.bs-info
  {
    color: #0c5460;
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
  }

  &.bs-success
  {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }
}

@media only screen and (min-width: 1240px)
{
  .bs-odds-wrapper
  {
    --responsive--aligndefault-width: min(calc(100vw - 8 * var(--global--spacing-horizontal)), 1240px);
  }
}